<%# MOT DE PASSE OUBLIE %>
<%= link_to "< Retour", fish_index_path, class: "btn-return" %>

<div class="form-bloc">
<h2>Mot de passe oublié?</h2>

<p>Indiquez l'adresse email associée à votre compte pour générer un nouveau mot de passe</p>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="btn-submit">
    <%= f.button :submit, "Valider" %>
  </div>
<% end %>

<p><%= render "devise/shared/links" %></p></div>
