<h2 class="text-center mbtitle">Mes demandes de garde</h2>
  <% @fishbooks.each do |fish| %>
    <% fish.bookings.each do |book| %>
      <div class="card-product mbinfo">
      <% if book.fish.photo.attached?  %>
        <%= cl_image_tag book.fish.photo.key %>
        <% else %>
        <%= image_tag "avatars/fishes/benoit_avatar.jpg", alt: "a fish" %>
      <% end %>
      <p><strong><%= book.fish.title %></strong></p>
      <p><%= book.keeper.first_name %> <%= book.keeper.last_name %></p>
      <p><%= book.start_time %> <%= book.end_time %></p>
      <div class="btn_dispo">
      <% if book.status == "En attente de validation" %>
      <%= link_to "Accepter", confirm_booking_path(book),
  data: {turbo_method: :patch}%>
      <%= link_to "Refuser", decline_booking_path(book),
  data: {turbo_method: :patch, turbo_confirm: "Are you sure?"}%>
      <% else %>
        <p><strong><%= book.status %></strong></p>
      <% end %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
<h2 class="text-center mbtitle">Mes gardes à venir</h2>
  <% @askbooks.each do |askbook| %>
    <div class="card-product mbinfo">
    <% if askbook.fish.photo.attached?  %>
        <%= cl_image_tag askbook.fish.photo.key %>
        <% else %>
        <%= image_tag "avatars/fishes/benoit_avatar.jpg", alt: "a fish" %>
      <% end %>
    <p><strong><%= askbook.fish.title %></strong></p>
    <p><%= askbook.fish.specie %></p>
    <p><%= askbook.fish.daily_price %>€</p>
    <p><%= askbook.start_time %> <%= askbook.end_time %></strong></p>
    <p><strong><%= askbook.status %></strong></p>
    </div>
  <% end %>
