<h2 class="text-center mbtitle">Mes demandes de garde</h2>
  <% @fishbooks.each do |fish| %>
    <% fish.bookings.each do |book| %>
      <div class="card-product mbinfo">

      <p><strong><%= book.fish.title %></strong></p>
      <p><strong><%= book.keeper.first_name %> <%= book.keeper.last_name %></strong></p>
      <p><strong><%= book.start_time %> <%= book.end_time %></strong></p>
      <div class="btn_dispo">
      <input type="button" value="Accepter" class="btn-blue">
      <input type="button" value="Refuser" class="btn-red">
      </div>
    </div>
    <% end %>
  <% end %>
</div>
<h2 class="text-center mbtitle">Mes gardes à venir</h2>
  <% @askbooks.each do |askbook| %>
    <div class="card-product mbinfo">

    <p><strong><%= askbook.fish.title %></strong></p>
    <p><%= askbook.fish.specie %></p>
    <p><%= askbook.fish.daily_price %>€</p>
    <%= askbook.start_time %> <%= askbook.end_time %></strong>
    </div>
  <% end %>
