<div class="container-demande-de-garde">
  <h2>Mes demandes de garde</h2>

  <div class="tableau-title"><div class="poisson-title">Poisson</div><div class="demandeur-title"> demandeur</div><div class="dates-title"> dates</div></div>

  <% @fishbooks.each do |fish| %>
    <% fish.bookings.each do |book| %>

      <div class="card-product fish-card-booking">

          <div class="image-card-booking">
          <% if book.fish.photo.attached?  %>
            <%= cl_image_tag book.fish.photo.key %>
            <% else %>
            <%= image_tag "avatars/fishes/benoit_avatar.jpg", alt: "a fish" %>
          <% end %>
          </div>

        <div class="text-card-booking">

          <div class="fish-name-card-booking">
            <p><strong><%= book.fish.title %></strong></p>
          </div>

          <div class="fish-keeper-card-booking">
            <p><%= book.keeper.first_name %> <%= book.keeper.last_name %></p>
          </div>

          <div class="fish-dates-card-booking">
            <p><%= book.start_time %></p>
            <p><%= book.end_time %></p>
          </div>

          <div class="btn-booking">
            <% if book.status == "En attente de validation" %>
              <p><%= link_to "Accepter", confirm_booking_path(book), data: {turbo_method: :patch}, class: "accept-btn"%></p>
              <p><%= link_to "Refuser", decline_booking_path(book), data: {turbo_method: :patch, turbo_confirm: "Vous êtes sur?"}, class: "decline-btn"%></p>
            <% else %>
              <p class="confirm-btn"><strong><%= book.status %></strong></p>
            <% end %>
          </div>

        </div>

      </div>
    <% end %>
  <% end %>
</div>
</div>





<div class="container-demande-de-garde">
  <h2>Mes gardes à venir</h2>

  <div class="ask-tableau-title"><div class="poisson-title">Poisson</div><div class="tarif-title">tarif</div><div class="date-title"> dates</div><div class="statut-title">statut</div></div>

  <% @askbooks.each do |askbook| %>

    <div class="card-product fish-card-booking">

    <div class="image-card-booking">
      <% if askbook.fish.photo.attached?  %>
        <%= cl_image_tag askbook.fish.photo.key %>
        <% else %>
        <%= image_tag "avatars/fishes/benoit_avatar.jpg", alt: "a fish" %>
      <% end %>
    </div>

    <div class="text-card-booking">

      <div class="fish-name-card-booking">
        <p><strong><%= askbook.fish.title %></strong></p>
      </div>

      <div class="fish-keeper-card-booking">
        <p><%= askbook.fish.daily_price %>€</p>
      </div>

      <div class="fish-dates-card-booking">
        <p><%= askbook.start_time %></p>
        <p><%= askbook.end_time %></p>
      </div>

      <div class="btn-booking">
        <p><strong><%= askbook.status %></strong></p>
      </div>
    </div>
  <% end %>
