<!DOCTYPE html>
<html>
  <head>
    <title>FishMyFeed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# J'ai mis en commentaire la commande du dessous pour pouvoir acceder à mon server local %>
    <%# C'est mieux d'ouvrir le server yarn avec la commande 'yarn build --watch' dans ton terminal, sinon on a plus de JS %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
