<!DOCTYPE html>
<html>
  <head>
    <title>FishMyFeed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body <% if current_page?('/') %>
    class="dark-blue"
    <% end %>>
    <%= render "shared/navbar" unless current_page?('/') %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
<%= render "shared/footer" unless current_page?('/') %>
</html>
